## ALIGNMENT FILE ##
alignment = all_concat.phylip;

## BRANCHLENGTHS: linked | unlinked ##
branchlengths = unlinked;

## MODELS OF EVOLUTION: all | allx | mrbayes | beast | gamma | gammai | <list> ##
models = all;

# MODEL SELECCTION: AIC | AICc | BIC #
model_selection = aicc;

## DATA BLOCKS: see manual for how to define ##
[data_blocks]
iqgap_1stpos = 1-207\3;
iqgap_2ndpos = 2-207\3;
iqgap_3rdpos = 3-207\3;
gpbp_1stpos  = 208-684\3;
gpbp_2ndpos  = 209-684\3;
gpbp_3rdpos  = 210-684\3;
nd2_1stpos         = 685-1693\3;
nd2_1stpos         = 686-1693\3;
nd2_1stpos         = 687-1693\3;

## SCHEMES, search: all | user | greedy | rcluster | rclusterf | kmeans ##
[schemes]
search = greedy;